<h1> <%= @project.title %> </h1>
<h3>TaskGroup: <%= @task_group.name %></h3>

<div class="create_task">
  <%= link_to "Create Tasks", new_task_group_task_path(@task_group)%>
</div>
<ul class="tasks_list">
<% @tasks.each do |task| %>
    <li class= "task_list">
      <h3><%= link_to task.name, task_group_task_path(@task_group,task) %></h3>
      Duration: <%= task.duration %> days |
      Status: <%= task.status %>
    </li>
<% end %>
</ul>

