<h1> <%= @project.title %> </h1><br />

<h3>TaskGroup: <%= @task_group.name %> <br /> </h3>

<h4>Task List </h4>
<ul>
<% @tasks.each do |task| %>
  <li><%= link_to task.name, task_group_task_path(@task_group,task) %>
  <%= render :partial => "member_select" %>
  <%= task.duration %>
  <%= task.status %>
  <%= task.created_at %> </li>
  <%= link_to "Edit", edit_task_group_task_path(@task_group,task) %>
<% end %>
</ul>
<%= link_to "Create Tasks", new_task_group_task_path(@task_group)%>

</h3>