<h1>Project</h1>
<h3>
<%= @project.title %> <br />
<%= @project.description %> <br />
<%= @project.created_at %> <br />
<%= @project.deadline %> <br />
</h3>


<h2>Available Task Groups</h2>
<%= render "/task_groups/task_groups" %>