<div id="project_show">
<h1>Project: <%= @project.title %> </h1>
<h3>
<% @val= project_status(@project) %>
Status: <%= "#{@val.round(2)}% complete" %> <br />
Description: <%= @project.description %> <br />
Created At: <%= @project.created_at.to_s(:project_date) %> <br />
Deadline: <%= @project.deadline %> <br />
</h3>

<h2>Available Task Groups</h2>
<%= render "/task_groups/task_groups" %>
</div>

