<!DOCTYPE html>
<html>
<head>
  <title>PMS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min','rails','jquery-ui','application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>
<%= link_to "Project Management System", projects_path %> </h1>
<%= render :partial => "shared/link" %>
<hr />
<%= notice %>
<%= alert %>
<div id="yield">
  <%= yield %>
</div>
</body>
</html>
